@font-face {
	font-family: 'zx';
	src: url('/res/fonts/zx.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
    font-family: 'zx', Arial, Verdana, sans-serif;
    font-size: 16px;

    color: white;
    background-color: black;
}

body {
    margin: 0;
}

#background {
    background-color: gray;
    padding: 20px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    display: block; 
    width: 256px;
    height: 192px;
    image-rendering: pixelated;
}

#low-control-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-control, .right-control {
    height: 192px;
    border: 1px solid white;

    margin: 20px;
    padding: 8px;
}

@media screen and (orientation: landscape) {
    #background {
        justify-content: space-between;
    }

    #low-control-div {
        display: none;
    }
}

@media screen and (orientation: portrait) {

    #background .left-control, 
    #background .right-control {
        display: none;
    }
}